body{
  background-color: #D6CAB0;
  font-family: monospace;
  color: dimgrey;
}

.main-area{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
  background-image: url(./images/front-portal.png);
  background-position:center;
  background-size: 110%;
  border-radius: 50px;
}



